{% extends 'base.html' %}

{% block head %}
<h2> Главная страница </h2>
{% endblock %}


{% block body %}

<p>Добро пожаловать на сайт моделирования угроз ИБ по <a target="_blank"
        href="https://fstec.ru/tekhnicheskaya-zashchita-informatsii/dokumenty/114-spetsialnye-normativnye-dokumenty/2170-metodicheskij-dokument-utverzhden-fstek-rossii-5-fevralya-2021-g">
        методике ФСТЭК</a>. Данный сайт предоставляет инструмент по
    моделированию угроз в соответствии с методикой ФСТЭК и базой знаний <a target="_blank"
        href="https://attack.mitre.org/"> MITRE ATT&CK</a>. Конструктор находится во вкладке
    <a href="/model">моделирование угроз</a>, где вам предстоит выбрать подходящие для вашего текущего сценария
    тактики и техники.
    Также в меню настроек можно выставить необходимые фильтры, соответствующие специфике сценария. После выбора
    необходимых техник можно создать модель. Вас перенаправит на другую страницу с информацией о вашем запросе, где в
    случае успеха, можно будет скачать полученный сценарий.
</p>

{% endblock %}